@import "tailwindcss";

#root {
    min-height: 100vh;
    background: white;
    color: black;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate-fade-in {
    animation: fade-in 0.4s ease-in forwards;
}

.tivoli-image {
    transition: transform 0.5s ease-in-out; /* smooth zoom */
    object-fit: cover;
}

/* Zoom in on larger screens */
@media (min-width: 1024px) {
    .tivoli-image {
        transform: scale(1.2); /* zoom in 20% */
    }
}
